<%= turbo_frame_tag @board, :publication do %>
  <header>
    <h2 class="divider txt-large">Public link</h2>
    <div>Turn on Public link to share this board with anyone in the world. They won't need to log in and they won't be able to see anything else in oCode.</div>
  </header>

  <% if board.published? %>
    <div class="border-radius pad fill-selected">
      <%= form_with url: board_publication_path(board), method: :delete, class: "flex-inline center justify-between gap", data: { controller: "form" } do |form| %>
        <label class="flex gap cursor-pointer">
          <span class="txt-large"><%= icon_tag "lock" %></span>
          <span class="switch flex align-center justify-between">
            <%= form.check_box :published, class: "switch__input", checked: true, data: { action: "keydown.ctrl+enter->form#submit:prevent keydown.meta+enter->form#submit:prevent keydown.esc->form#cancel:stop" }, disabled: !Current.user.can_administer_board?(@board) %>
            <span class="switch__btn round"></span>
          </span>
        </label>
      </form>
    </div>
  <% end %>

  <div class="flex align-center gap-half margin-block-end">
    <%= text_field_tag :publication_url, board_publication_url(board), readonly: true, class: "full-width input fill-white" %>
    <div class="flex align-center gap">
      <%= button_to_copy_to_clipboard(published_board_url(board)) do %>
        <%= icon_tag "copy-paste" %>
        <span class="for-screen-reader">Copy public link</span>
      </button>
    </div>
  </div>

  <div class="flex align-center gap-half margin-block-end">
    <strong class="margin-block-end">Add an optional description to public page</strong>
    <div class="border-radius input fill-white">
      <%= form_with model: board, class: "txt-align-start", data: { controller: "form", turbo_frame: "_top" } do %>
        <%= form.rich_text_area :public_description, :public_description, class: "lexy-content txt-small", placeholder: "Add a public note about this board…" %>
        <div data-controller="form">
          <span class="switch flex align-center justify-between">
            <%= form.check_box :public_description, class: "switch__input", checked: board.public_description.present?, data: { action: "keydown.ctrl+enter->form#submit:prevent keydown.meta+enter->form#submit:prevent keydown.esc->form#cancel:stop" } %>
            <span class="switch__btn round"></span>
          </span>
        </span>
        </div>
        <%= form.submit "Save changes", class: "btn txt-small", title: "Save changes (#{hotkey_label(["ctrl", "enter"])})" %>
      <% end %>
      </div>
    </div>
  </div>
<% end %>
