<!DOCTYPE html>
<html lang="en">
  <%= render "layouts/shared/head" %>

  <body class="public <%= @body_class %>" data-controller="local-time timezone-cookie" data-action="turbo:morph@window->local-time#refreshAll">
    <div id="global-container">
      <header class="header" id="header">
        <a href="#main" class="header__skip-navigation btn" data-turbo="false">Skip to main content</a>
        <nav>
          <%= link_to "https://ocode.co", class: "header__logo center flex-inline align-center" do %>
            <span><%= image_tag "fizzy.svg", alt: "", size: "30x30" %></span>
            <strong class="txt-large font-weight-bold">oCode</strong>
          <% end %>
        </nav>

        <%= yield :header %>
      </header>

      <%= render "layouts/shared/flash" %>

      <main id="main">
        <%= yield %>
      </main>
    </div>

    <footer id="footer">
      <%= yield :footer %>
    </footer>
  </body>
</html>
